<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Twitter Clone</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body> 
  <section id="content">

  </section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
